* {
    background-color: rgb(3, 1, 26);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: #C3BBBB;
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
a {
    text-decoration: none;
    display: block;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    overflow: visible;
}

.titleBar {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 360px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.titleIcon {
    height: 30px;
    width: 30px;
}

.appIcon {
    width: 30px;
    height: 30px;
}

.titleText {
    font-size: 13px;
    color: white;
}

.iconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.titleDiv {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 13px;
}

.main-menu {
    width: 360px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #5e5454;
    margin: 0px;
}

.main-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu-icon {
    width: 30px;
    height: 30px;
}

.menu-icon-defualt {
    opacity: 1;
}

.menu-icon-hover {
    opacity: 0;
}

.menu-text {
    font-size: 13px;
    transition: color 0.1s ease-in-out;
}

.menu-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: green;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
}

.restIcon {
    height: 25px;
    width: 25px;
}

.startIcon {
    height: 60px;
    width: 60px;
}

.forwardIcon {
    height: 25px;
    width: 25px;
}

.soundonIcon {
    height: 25px;
    width: 25px;
}

.timerDisplay {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    position: relative;
}

.Session-text {
    width: 53px;
    text-align: center;
    font-size: 16px;
    text-align: center;
}


.timer-circle-track {
    fill: none;
    stroke: #C3BBBB;
    stroke-width: 4px;
}

.timer-circle-progress {
    fill: none;
    stroke: #27B43E;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 0;
}

.timercontrolDiv {
    width: 320px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.timeDisplay {
    font-size: 45px;
    text-align: center;
    color: #27B43E;
    top: 10px;
    left: 20px;
}

.Session-text {
    margin-right: 30px;
    cursor: default;
    text-align: center;
}

.restIcon {
    background-image: url('../icons/rest.svg');
    background-size: cover;
    margin-right: 20px;
    cursor: pointer;
}

.forwardIcon {
    background-image: url('../icons/forward.svg');
    background-size: cover;
    padding: 1px;
    margin-right: 30px;
    cursor: pointer;
}



.restIcon:hover {
    background-image: url('../icons/rest-hover.svg');
}

.forwardIcon:hover {
    background-image: url('../icons/forward-hover.svg');
}



.smallIcon {
    width: 30px;
    height: 30px;
}

/* start icon hover and active  */
.startIcon {
    background-image: url('../icons/start.svg');
    background-size: cover;
    margin-right: 20px;
    cursor: pointer;
}

.startIcon:hover {
    background-image: url('../icons/start-hover.svg');
}

.startIcon.is-running {
    background-image: url('../icons/pause.svg');
}

.startIcon.is-running:hover {
    background-image: url('../icons/pause-hover.svg');
}

.pauseIcon {
    background-image: url('../icons/pause.svg');
}

.pauseIcon:hover {
    background-image: url('../icons/start.svg');
}

/* sound icon hover and active  */
.soundIcon {
    background-image: url('../icons/soundon.svg');
    background-size: cover;
    padding: 1px;
    margin-top: 2px;
    cursor: pointer;
}

.soundIcon:hover {
    background-image: url('../icons/soundon-hover.svg');
}

.soundIcon.active {
    background-image: url('../icons/mute.svg')
}

.soundIcon.active:hover {
    background-image: url('../icons/mute-hover.svg');
}

/* fouces icon and circle animation */
.foucesDivText {
    width: 143px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.timerSvg {
    transform: rotate(-90deg);
    transform-origin: center;
}
.foucesDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.foucesPic {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url('../icons/focusTime.svg');
    background-size: cover;
    padding: 0px;
}

.foucesDivItem {
    display: flex;

}