* {
    background-color: rgb(3, 1, 26);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

p {
    color: #C3BBBB;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    display: block;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    overflow: visible;
}

.titleBar {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 360px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.titleIcon {
    height: 30px;
    width: 30px;
}

.appIcon {
    width: 30px;
    height: 30px;
}

.titleText {
    font-size: 13px;
    color: white;
}

.iconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.titleDiv {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 13px;
}

.main-menu {
    width: 360px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #5e5454;
    margin: 0px;
}

.main-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.menu-icon {
    width: 30px;
    height: 30px;
}

.menu-icon-defualt {
    opacity: 1;
}

.menu-icon-hover {
    opacity: 0;
}

.menu-text {
    font-size: 13px;
    transition: color 0.1s ease-in-out;
}

.menu-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: green;
}

.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
}

.noteDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addNoteDiv {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 50px;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

.addNoteButton {
    box-sizing: border-box;
    display: flex;
    width: 300px;
    height: 40px;
    border: 2px solid #C3BBBB;
    border-radius: 3px;
    color: #C3BBBB;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    padding-left: 15px;
    cursor: pointer;
    background-color: rgb(6, 2, 48);
}

.addNoteButton-clicked {
    box-sizing: border-box;
    display: flex;
    width: 300px;
    height: 40px;
    border: 2px solid #C3BBBB;
    border-radius: 5px;
    color: #C3BBBB;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    padding-left: 15px;
    background-color: rgb(6, 2, 48);
    outline: none;
}

.addNoteButton-clicked:hover {
    background-color: rgb(6, 2, 52);
    border: 2px solid #27B43E;
    color: #27B43E;
    outline: none;
}

.addNoteButton:hover {
    background-color: rgb(6, 2, 52);
    border: 2px solid #27B43E;
    color: #27B43E;
}

.divSubmitBtn {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.inputActionBtn {
    margin-top: 5px;
    width: 145px;
    height: 30px;
}

.color:hover {
    color: #27B43E;
}

.addBtn {
    background-color: rgb(6, 2, 48);
    border: 2px solid #27B43E;
    color: #C3BBBB;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.addBtn:hover {
    background-color: rgb(6, 2, 52);
    box-shadow: 0px 0px 2px #27B43E;
}

.cancelBtn {
    background-color: rgb(6, 2, 48);
    border: 2px solid red;
    border-radius: 4px;
    color: #C3BBBB;
    cursor: pointer;
}

.cancelBtn:hover {
    background-color: rgb(6, 2, 52);
    box-shadow: 0px 0px 3px red;
}

.taskBox {
    display: flex;
    width: 280px;
    height: 40px;
    border: 2px solid #C3BBBB;
    border-radius: 4px;
    color: #C3BBBB;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    padding-left: 15px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.removeIcon {
    width: 23px;
    height: 23px;
    background-image: url('../icons/delete.svg');
    background-size: cover;
    margin-right: 5px;
    cursor: pointer;
}

.removeIcon:hover {
    background-image: url('../icons/delete-hover.svg');
}

.taskContent {
    display: flex;
    gap: 7px;
}

.TaskcheckBox {
    fill: #27B43E;
}

.TaskcheckBox {
    appearance: none;
    width: 17px;
    height: 17px;
    accent-color: #27B43E;
    cursor: pointer;
    background-color: white;
    border: 1px solid #C3BBBB;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TaskcheckBox:checked {
    background-color: #27B43E;
    border-color: #27B43E;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
    background-size: cover;
}

.taskText {
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.linethroughstyle {
    text-decoration: line-through;
}